<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/layout/myPageDefault}">


	<!-- head 삽입공간 -->
	
	<head>
	
	</head>
	
	<th:block layout:fragment="jsFile">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</th:block>
	
	
	<th:block layout:fragment="jsScript">
		<script th:inline="javascript">
			$('.deleteBtn').click(e => {
				e.preventDefault();
				const assigneeBoardNum = $(e.currentTarget).data('assigneeBoardNum');
				Swal.fire({
				  	text: "선택하신 양수 게시글을 삭제하시겠습니까?",
				  	icon: "warning",
				  	showCancelButton: true,
				  	confirmButtonColor: "#3085d6",
				  	cancelButtonColor: "#d33",
				  	confirmButtonText: "삭제",
				  	cancelButtonText: "취소"
				}).then(async (result) => {
						console.log(result);
						
						if (result.isDismissed) return ;
						
						const optionObj = {
								title: '',
								text: '',
								icon: ''
							};
						
						if (result.isConfirmed) {
					    	const request = $.ajax({
								url : '/customer/assigneeBoard/removeMyAssigneeBoard',
								method : 'post',
								data : { 'assigneeBoardNum' : assigneeBoardNum},
								dataType : 'json',
								async : false
					    	});
					    	request.done(isDelete => {
								if(isDelete) {
								  	optionObj.title = '';
									optionObj.text = '선택하신 양수 게시글이 삭제되었습니다.';
								  	optionObj.icon = 'success';
								}
					    	});
					    	request.fail((jqXHR, textStatus, error) => {
								console.log(jqXHR, textStatus, error);
					    	});
						}
						Swal.fire(optionObj).then(result => location.reload());
					});
				});
		</script>
	</th:block>
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="customContents">
		<div class="container mb-30">
            <div class="row flex-row-reverse">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3 class="mb-0" >내 양수 게시글</h3>
                    </div>
                    <div class="shop-product-fillter">
						<div class="totall-product">
							<h5 class="text-body">
								내가 쓴 글
								<span class="text-brand">
									<span th:text="${myAssigneeBoardList.size()}">5</span>
								</span>
								<span>개</span>
							</h5>
						</div>
					</div>
                    <div class="overflow-auto" style="height: 700px;">
	                    <div class="product-list mb-50 col-lg-12">
	                        <th:block th:if="${!#lists.isEmpty(myAssigneeBoardList)}"
									  th:each="l : ${myAssigneeBoardList}">
		                        <div class="product-cart-wrap border col-12" style="box-shadow:0 6px 12px 0 rgba(0,0,0,.04);">
		                            <div class="col-lg-11 product-content-wrap mt-40 mb-2 ml-50">
		                               	<div class="d-flex justify-content-between align-items-start">
											<!-- 제목 -->
											<h4 class="mb-0 flex-grow-1">
										    	<a th:text="${#strings.isEmpty(l.productName) ? '상관없음' : l.productName}" 
										       	   th:href="@{/customer/assigneeBoard/modifyAssigneeBoard(assigneeBoardNum=${l.assigneeBoardNum})}" 
										           class="text-decoration-none text-dark">
										      		그램 프로 노트북 16인치 (옵시디안 블랙)
										    	</a>
										  	</h4>
											<!-- 드롭다운 -->
											<div class="dropdown">
										    	<a href="#" data-bs-toggle="dropdown" class="btn-light rounded btn-sm font-sm" style="color: black;">
										      		<i class="bi bi-three-dots-vertical text-muted fs-6" style="color: black;"></i> 
										    	</a>
										    	<div class="dropdown-menu">
										      		<a th:data-assignee-board-num="${l.assigneeBoardNum}" 
										         	   class="deleteBtn dropdown-item" href="#">
										        		게시글 삭제
										      		</a>
										    	</div>
										  	</div>
										</div>
		                                <div class="product-rate-cover">
		                                    <span th:text="${l.productInfoCategory.smCategory}" class="font-small ml-5 text-muted">TV/디지털</span>
		                                </div>
		                                <!-- <p class="mt-15 mb-15">급구</p> -->
		                                <div class="mt-3 mb-4">
											<div class="row g-4">
											    <!-- 희망설치지역 -->
											    <div class="col-12">
											    	<span class="fw-normal text-primary me-2" style="font-size: 18px; padding-right: 10px;">희망설치지역</span>
											    	<span th:text="${l.desiredInstallArea}" 
											              class="text-dark" style="font-size: 20px; word-break: keep-all;">전주</span>
											    </div>
											    <!-- 희망렌탈료 -->
											    <div class="col-5">
										      		<span class="fw-normal text-primary me-2" style="font-size: 18px; padding-right: 10px;">희망렌탈료</span>
										     		<span th:text="|₩${#numbers.formatInteger(l.rentalFee, 3, 'COMMA') + ' 이하'}"
										            	  class="text-dark" style="font-size: 20px; word-break: keep-all;">상관없음</span>
										    	</div>
										
											    <!-- 희망계약기간 -->
											    <div class="col-5">
										      		<span class="fw-normal text-primary me-2" style="font-size: 18px; padding-right: 10px;">희망계약기간</span>
										      		<span th:text="${l.remainingMonths} + '개월 이하'" 
											              class="text-dark" style="font-size: 20px; word-break: keep-all;">상관없음</span>
											    </div>
									  		</div>  
										</div>
		                                <div class="board d-flex justify-content-end gap-5">
										    <div class="d-flex">
										        <p class="mb-0 me-2 fw-semibold">등록일</p>
										        <p class="mb-0 fw-bold" th:text="${l.registerDate}">2025-04-09</p>
										    </div>
										    <div class="d-flex">
										        <p class="mb-0 me-2 fw-semibold">마감일</p>
										        <p class="mb-0 fw-bold" th:text="${l.boardValidDate}">2025-04-09</p>
										    </div>
										</div>
		                            </div>
		                        </div>
	                        </th:block>
	                    </div>
                	</div>
                </div>
            </div>
        </div>
	</th:block> 
</html>