<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/layout/myPageDefault}">


	<!-- head 삽입공간 -->
	
	<head>
	
	</head>
	
	<th:block layout:fragment="jsFile">
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</th:block>
	
	
	<th:block layout:fragment="jsScript">
		<script type="text/javascript" th:inline="javascript">

				
			document.getElementById('addDeliveryBtn').addEventListener('click', function (e) {
				  const form = document.getElementById('addDeliveryForm');
	
				  const requiredFields = [
				    { id: 'delNm', name: '배송지명' },
				    { id: 'delAddr', name: '주소' },
				    { id: 'delZipNo', name: '우편번호' },
				    { id: 'delDaddr', name: '상세주소' },
				    { id: 'recipientPhone', name: '연락처' },
				    { id: 'delRequest', name: '요청사항' }
				  ];
	
				  for (const field of requiredFields) {
				    const el = document.getElementById(field.id);
				    if (!el.value.trim()) {
				      e.preventDefault(); // submit 막기
				      Swal.fire('입력 오류', `"${field.name}"을(를) 입력해주세요.`, 'warning');
				      el.focus();
				      return;
				    }
				  }
				  
				  
				  const recipientPhone = document.getElementById('recipientPhone').value.replace(/[^0-9]/g, '');
				  
				  if(recipientPhone.length != 11){
					  e.preventDefault();
					  Swal.fire('연락처 오류', '연락처를 다시 입력해주세요.', 'warning');
					  document.getElementById('recipientPhone').focus();
					  return ;
				  }
				  
				  if (!recipientPhone.startsWith("010")) {
					    e.preventDefault();
					    Swal.fire('연락처 오류', '연락처는 010으로 시작해야 합니다.', 'warning');
					    document.getElementById('recipientPhone').focus();
					    return;
					}
				  
				  
				  const deliveryCount = parseInt(document.getElementById('deliveryCount').value || '0');
	
				  // 기본배송지 체크 반영
				  const isChecked = document.getElementById('agreeCheckbox').checked;
				  if (deliveryCount === 0 && !isChecked) {
					    e.preventDefault();
					    Swal.fire('입력 오류', '첫 번째 배송지는 기본배송지로 설정해야 합니다.', 'warning');
					    return;
				  }
				  
				  
				  
				  document.getElementById('primaryLocationChk').value = isChecked ? '기본배송지' : '추가배송지';
	
				  // 모든 조건 통과 시 폼 제출
				  form.submit();
			});

			

			
			
			
			// 등록 클릭시 모달폼 등록으로 변경
			document.addEventListener('DOMContentLoaded', function() {
				// 등록 버튼
				document.querySelector('.ms-auto[data-bs-target="#staticBackdrop"]').addEventListener('click', function() {
					resetModalForm();
					document.getElementById('agreeCheckbox').disabled = false;
					document.getElementById('addDeliveryForm').setAttribute('action', '/customer/delivery/addDeliveryList');
					document.getElementById('staticBackdropLabel').textContent = "배송지 등록";
					document.getElementById('addDeliveryBtn').textContent = "등록";
				});
			});

			
			

			// 수정 버튼
			document.querySelectorAll('.modifyDeliveryBtn').forEach(function(btn) {
				btn.addEventListener('click', function() {
					
					// 데이터 세팅
					document.getElementById('delNo').value = btn.getAttribute('data-del-no');
					document.getElementById('delNm').value = btn.getAttribute('data-del-nm');
					document.getElementById('delAddr').value = btn.getAttribute('data-del-addr');
					document.getElementById('delDaddr').value = btn.getAttribute('data-del-daddr');
					document.getElementById('delZipNo').value = btn.getAttribute('data-del-zip-no');
					document.getElementById('recipientPhone').value = btn.getAttribute('data-recipient-phone');
					document.getElementById('delRequest').value = btn.getAttribute('data-del-request');
				
					// 체크박스 처리
					var isDefault = btn.getAttribute('data-primary-location') === "기본배송지";
					document.getElementById('agreeCheckbox').checked = isDefault;
					document.getElementById('agreeCheckbox').disabled = isDefault;
				
					// 수정 모드로 변경
					document.getElementById('addDeliveryForm').setAttribute('action', '/customer/delivery/modifyDeliveryList');
					document.getElementById('staticBackdropLabel').textContent = "배송지 수정";
					document.getElementById('addDeliveryBtn').textContent = "수정";
				});
			});

			// 폼 리셋 함수
		    function resetModalForm() {
		        var form = document.getElementById('addDeliveryForm');
		        form.reset();
		        document.getElementById('delNo').value = '';
		        document.getElementById('primaryLocationChk').value = '';
		    }
			
			
		    
			


		    $('.removeDeliveryBtn').click( e => {
				e.preventDefault();
				
				const button = e.target;
				const delNo = $(e.target).data('delNo');
				
				
				
				const isPrimary = $(button).closest('tr').find('.product-cart-wrap').text().trim() === '기본배송지';
				
				if(isPrimary) {
					Swal.fire('삭제 불가', '기본배송지는 삭제할 수 없습니다.', 'error');
					return;
				}
				
				const swalWithBootstrapButtons = Swal.mixin({
					  customClass: {
						  	actions: 'w-50 justify-content-around',
					    	confirmButton: "btn btn-success",
					    	cancelButton: "btn btn-danger"
					  },
					  buttonsStyling: false
				});
				swalWithBootstrapButtons.fire({
					  title: "배송지 삭제",
					  text: "배송지를 삭제하시겠습니까?",
					  icon: "warning",
					  showCancelButton: true,
					  confirmButtonText: "삭제",
					  cancelButtonText: "취소",
					  reverseButtons: true
				}).then((result) => {
					 if (result.isConfirmed) {
						const request = $.ajax({
							url : '/customer/delivery/removeDeliveryList',
							method : 'post',
							data : { 'delNo' : delNo },
							dataType : 'json',
							async : false
						});
						request.done(isDel => {
							if(isDel){
							 	swalWithBootstrapButtons.fire({
								  title: "배송지 삭제",
								  text: "삭제되었습니다.",
								  icon: "success"
								}).then(result => {
								 	location.reload();
								});
							}else{
								swalWithBootstrapButtons.fire({
								  title: "사용중인 배송지여서 삭제 불가합니다.",
								  icon: "error"
								});
							}
						});
					} else if (
						/* Read more about handling dismissals below */
						result.dismiss === Swal.DismissReason.cancel
					) {
						swalWithBootstrapButtons.fire({
						  title: "삭제취소",
						  icon: "error"
						});
					}
				});
			});
			
			
		    
		    document.getElementById('recipientPhone').addEventListener('input', function(e){
		    	let number = this.value.replace(/[^0-9]/g, '');
		    	
		    	if (number.length <= 3) {
		    		this.value = number;
		    	} else if (number.length <= 7) {
		    		this.value = number.slice(0, 3) + '-' + number.slice(3);
		    	} else if (number.length <= 11) {
		    		this.value = number.slice(0, 3) + '-' + number.slice(3,7) + '-' + number.slice(7);
		    	} else {
		    		this.value = number.slice(0, 3) + '-' + number.slice(3,7) + '-' + number.slice(7, 11);
		    	}
		    });
		    
		    
			
			
			$('#daumPostBtn').click(function(e){
				new daum.Postcode({
		            oncomplete: function(data) {
		                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

		                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
		                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
		                var addr = ''; // 주소 변수
		                var extraAddr = ''; // 참고항목 변수

		                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
		                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
		                    addr = data.roadAddress;
		                } else { // 사용자가 지번 주소를 선택했을 경우(J)
		                    addr = data.jibunAddress;
		                }

		                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
		                if(data.userSelectedType === 'R'){
		                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
		                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
		                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
		                        extraAddr += data.bname;
		                    }
		                    // 건물명이 있고, 공동주택일 경우 추가한다.
		                    if(data.buildingName !== '' && data.apartment === 'Y'){
		                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
		                    }
		                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
		                    if(extraAddr !== ''){
		                        extraAddr = ' (' + extraAddr + ')';
		                    }
		                    // 조합된 참고항목을 해당 필드에 넣는다.
		                    document.getElementById("delAddr").value = extraAddr;
		                
		                } else {
		                    document.getElementById("delAddr").value = '';
		                }

		                // 우편번호와 주소 정보를 해당 필드에 넣는다.
		                document.getElementById('delZipNo').value = data.zonecode;
		                document.getElementById("delAddr").value = addr;
		                // 커서를 상세주소 필드로 이동한다.
		                document.getElementById("delDaddr").focus();
		            }
		        }).open();
			});
			
						
			
		</script>
	</th:block>
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="customContents">
		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<form id="addDeliveryForm" th:action="@{/customer/delivery/addDeliveryList}" method="post">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">배송지 등록수정</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="form-group col-md-6">
									<input placeholder="배송지명" class="form-control" id="delNm" name="delNm" type="text">
								</div>
								<div class="form-group col-md-6 mt-10">
						        	<button type="button" id="daumPostBtn" class="btn col-12">주소찾기</button>
						    	</div>
								<div class="form-group col-md-12 d-flex">
									<div class="col-sm-8">
										<input placeholder="주소" class="form-control" id="delAddr" name="delAddr" type="text" readonly>
									</div>
									<div class="col-sm-4 pl-10">
										<input placeholder="우편번호" class="form-control" id="delZipNo" name="delZipNo" type="text" readonly>
									</div>
								</div>
								<div class="form-group col-md-12">
									<input placeholder="상세주소" class="form-control" id="delDaddr" name="delDaddr" type="text">
								</div>
								<div class="form-group col-md-12">
					       			<input placeholder="연락처" class="form-control" id="recipientPhone" name="recipientPhone" type="text" maxlength="13">
					   				</div>
					   			<div class="form-group col-md-12">
					      			<input placeholder="요청사항" class="form-control" id="delRequest" name="delRequest" type="text">
					  			</div>
					   			<div class="form-group col-md-12">
									<div class="custome-checkbox">
	                  					<input class="form-check-input" type="checkbox" id="agreeCheckbox" name="agreeCheckbox">
	                   					<label class="form-check-label mr-10" for="agreeCheckbox"><span>기본배송지로 설정</span></label>
										<input type="hidden" name="primaryLocation" id="primaryLocationChk">
									</div>
									<input type="hidden" name="custId" id="custId">
									<input type="hidden" name="delNo" id="delNo">
					  			</div>
							</div>
						</div>
		 				<div class="modal-footer">
			     			<button id="addDeliveryBtn" type="submit" class="btn btn-primary">등록</button>
			   			</div>
					</form>
		  		</div>
			</div>
		</div>
		<div class="tab-content account dashboard-content">
			<div class="tab-pane fade active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
			    <div class="card">
			        <div class="card-header d-flex">
			            <h3 class="mb-0" >배송지 목록</h3>
			            <button class="btn ms-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop">배송지 등록</button>
			        </div>
			        <div class="card-body">
			            <div class="table-responsive">
			                <table class="table text-center">
			                    <thead>
			                        <tr >
			                            <th>배송지명</th>
			                            <th>주소</th>
			                            <th>우편번호</th>
			                            <th>연락처</th>
			                            <th>요청사항</th>
			                            <th>수정/삭제</th>
			                        </tr>
			                    </thead>
			                    <tbody>
			                        <tr th:if="${!#lists.isEmpty(deliveryList)}" th:each="l : ${deliveryList}">
			                            <td>
			                            	<input type="hidden" th:value="${l.delNo}">
			                            	
			                            	<p th:text="${l.delNm}">우리집</p>
			                            	<div class="product-cart-wrap" th:text="${l.primaryLocation}">기본배송지</div>
			                            </td>
			                            <td>
			                            	<p th:text="${l.delAddr}">전주</p>
			                            	<p th:text="${l.delDaddr}">3층</p>
			                            </td>
			                            <td th:text="${l.delZipNo}">51515</td>
			                            <td th:text="${l.recipientPhone}">010-1234-4567</td>
			                            <td  style="width:150px"><div th:text="${l.delRequest}" style="word-break: break-word; white-space: normal;"></div></td>
			                            <td>
			                            	<button type="button" class="btn btn-xs modifyDeliveryBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" 
			                            			th:attr="data-del-no=${l.delNo}, data-del-nm=${l.delNm},
			                            					data-del-addr=${l.delAddr}, data-del-daddr=${l.delDaddr},
			                            					data-del-zip-no=${l.delZipNo}, data-recipient-phone=${l.recipientPhone},
			                            					data-del-request=${l.delRequest},  data-primary-location=${l.primaryLocation}">수정</button>
			                            	<a href="#" class="btn btn-xs removeDeliveryBtn" th:data-del-no="${l.delNo}">삭제</a>
			                            </td>
			                        </tr>
			                        <tr th:unless="${!#lists.isEmpty(deliveryList)}">
			                        	<td colspan="12">등록없음</td>
			                        </tr>
			                    </tbody>
			                </table>
			            </div>
			        </div>
			    </div>
			</div>	
		</div>
		<input type="hidden" id="deliveryCount" th:value="${#lists.size(deliveryList)}" />
	</th:block> 
</html>