<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ks54team01.customer.login.mapper.LoginMapper">
  <resultMap type="CommonMember" id="memberResultMap">
		<!-- id : 테이블 pk 컬럼 -->
		<id 	column="members_id" 		property="memberId" />
		<!-- result : 테이블 일반 컬럼 -->
		<result column="members_pw" 		property="memberPw" />
		<result column="members_type" 		property="memberType" />
		<result column="withdraw_status" 		property="memberWithdrawStatus" />
		<result column="state_transition_date" 		property="memberStateTransitionDate" />
	</resultMap>
	
	<select id="getEntMemberInfoById" resultType="EntMember">
		/* 입점업체정보 조회 */
    	SELECT
    		memberId,
    		memberPw,
    		memberType,
    		entEmpName,
    		entEmpEmail,
    		entEmpPhone,
    		entCeoNo,
    		entBrno,
    		entName,
    		entCeoAddr,
    		entCeoDaddr,
    		entBank,
    		entBankNum,
    		entPosition,
    		entContractStatus
    	FROM 
    		ent_info_view 
    	WHERE 
    		memberId = #{memberId};
	</select>
	
	<select id="getCorpMemberInfoById" resultType="CustomerMember">
		/* 기업고객정보 조회 */
    	SELECT
    		memberId, 
    		memberPw, 
    		memberType, 
    		corpName, 
    		corpBrno, 
    		custName, 
    		custPhone, 
    		custBrdt, 
    		custAddr, 
    		custDaddr, 
    		custEmail
    	FROM 
    		corp_customer_info_view 
    	WHERE 
    		memberId = #{memberId};
	</select>
	
	
	<select id="getCustomerMemberInfoById" resultType="CustomerMember">
		/* 개인고객정보 조회 */
		SELECT 
			memberId,
			memberPw, 
			memberType, 
			custName, 
			custPhone, 
			custBrdt, 
			custAddr, 
			custDaddr, 
			custEmail
		FROM 
			customer_info_view
		WHERE
			memberId = #{memberId};
	</select>
  
	<select id="getMemberInfoById" parameterType="string" resultMap="memberResultMap">
		/* 회원 조회(로그인, 탈퇴) */
	    SELECT
	    	members_id,
	    	members_pw,
	        members_type,
	        withdraw_status,
	        state_transition_date
	    FROM 
	    	members
	    WHERE 
	    	members_id = #{memberId};
	</select>
	
  </mapper>