<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks54team01.admin.member.mapper.AdminMemberMapper">

	<!-- resultMap : 조회 결과를 자바 클래스(domain,dto)와 명시적으로 매핑설정 -->
	<resultMap type="AdminMember" id="memberResultMap">
		<!-- id : 테이블 pk 컬럼 -->
		<id 	column="members_id" 		   property="memberId"/>
		<!-- result : 테이블 일반 컬럼 -->
		<result column="members_pw" 		   property="memberPw"/>	
		<result column="members_type" 		   property="memberType"/>	
		<result column="dormant_status" 	   property="dormantStatus"/>	
		<result column="withdraw_status" 	   property="withdrawStatus"/>	
		<result column="register_date" 		   property="memberRegDate"/>	
		<result column="revision_date" 		   property="memberRevDate"/>	
		<result column="state_transition_date" property="stateTransDate"/>	
	</resultMap>
	
	<resultMap type="AdminLoginHistory" id="loginHistoryResultMap">
		<id 	column="login_no" 		property="loginNo"/>
		<result column="members_id" 	property="memberId"/>
		<result column="login_date" 	property="loginDate"/>
		<result column="logout_date" 	property="logoutDate"/>
	</resultMap>

	<select id="getSearchLoginHistoryCount" resultType="int" parameterType="map">
		/* 회원 로그인이력 검색 총 row 갯수 조회 */
		SELECT
			COUNT(*)
		FROM
			member_login_log_view
		 WHERE 
	    	1=1
	    <if test="searchValue != null and searchValue != ''">
	      <choose>
	        <when test="searchKey == 'memberId'">
	          AND memberId LIKE CONCAT('%', #{searchValue}, '%')
	        </when>
	        <when test="searchKey == 'memberName'">
	          AND memberName LIKE CONCAT('%', #{searchValue}, '%')
	        </when>
	      </choose>
	    </if>
	    <if test="memberType != null and memberType != ''">
	      AND memberType = #{memberType}
	    </if>
	    <if test="withdrawStatus != null and withdrawStatus != ''">
	      AND withdrawStatus = #{withdrawStatus}
	    </if>
	    <if test="dormantStatus != null and dormantStatus != ''">
	      AND dormantStatus = #{dormantStatus}
	    </if>
	</select>

	 <select id="getSearchLoginHistoryList" resultType="AdminLoginHistory" parameterType="map">
	 	/* 회원 로그인 이력 검색 */
    	SELECT
    		loginNo,
    		memberId,
    		memberType,
    		loginDate,
			logoutDate
	    FROM 
	    	member_login_log_view
	    WHERE 
	    	1=1
	    <if test="searchValue != null and searchValue != ''">
	      <choose>
	        <when test="searchKey == 'memberId'">
	          AND memberId LIKE CONCAT('%', #{searchValue}, '%')
	        </when>
	        <when test="searchKey == 'memberName'">
	          AND memberName LIKE CONCAT('%', #{searchValue}, '%')
	        </when>
	      </choose>
	    </if>
	    <if test="memberType != null and memberType != ''">
	      AND memberType = #{memberType}
	    </if>
	    <if test="withdrawStatus != null and withdrawStatus != ''">
	      AND withdrawStatus = #{withdrawStatus}
	    </if>
	    <if test="dormantStatus != null and dormantStatus != ''">
	      AND dormantStatus = #{dormantStatus}
	    </if>
	    ORDER BY 
	    	loginNo is null, loginNo
	   LIMIT #{rowPerPage} offset #{offset};
	</select>
	
	<select id="getLoginHistoryCount" resultType="int">
		/* 회원 로그인이력 총 row 갯수 조회 */
		SELECT
			COUNT(*)
		FROM
			member_login_log_view;
	</select>
	
	<select id="getLoginHistoryList" resultType="AdminLoginHistory" parameterType="Pageable">
		/* 회원 로그인 이력 조회 */
		SELECT
			loginNo,
			memberId,
			memberType,
			loginDate,
			logoutDate
		FROM
			member_login_log_view
		ORDER BY loginNo is null, loginNo
		LIMIT #{rowPerPage} offset #{offset};
	</select>
	
	<select id="getSearchMemberListCount" resultType="int" parameterType="map">
		/* 회원 검색 총 row 갯수 조회 */
		SELECT
			COUNT(*)
		FROM
			all_member_info_view
		 WHERE 
	    	1=1
	    <if test="searchValue != null and searchValue != ''">
	      <choose>
	        <when test="searchKey == 'memberId'">
	          AND memberId LIKE CONCAT('%', #{searchValue}, '%')
	        </when>
	        <when test="searchKey == 'memberName'">
	          AND memberName LIKE CONCAT('%', #{searchValue}, '%')
	        </when>
	      </choose>
	    </if>
	    <if test="memberType != null and memberType != ''">
	      AND memberType = #{memberType}
	    </if>
	    <if test="withdrawStatus != null and withdrawStatus != ''">
	      AND withdrawStatus = #{withdrawStatus}
	    </if>
	    <if test="dormantStatus != null and dormantStatus != ''">
	      AND dormantStatus = #{dormantStatus}
	    </if>
	</select>
	
	<select id="getSearchMember" resultType="AdminMember">
	 	/* 회원 검색 */
	   	SELECT
	   		 memberId,
	   		 memberPw,
	   		 memberType,
	   		 memberName,
	   		 dormantStatus,
	   		 withdrawStatus,
	   		 memberRegDate,
	   		 memberRevDate,
	   		 stateTransitionDate
	    FROM 
	    	all_member_info_view
	    WHERE 
	    	1=1
	    <if test="searchValue != null and searchValue != ''">
	      <choose>
	        <when test="searchKey == 'memberId'">
	          AND memberId LIKE CONCAT('%', #{searchValue}, '%')
	        </when>
	        <when test="searchKey == 'memberName'">
	          AND memberName LIKE CONCAT('%', #{searchValue}, '%')
	        </when>
	      </choose>
	    </if>
	    <if test="memberType != null and memberType != ''">
	      AND memberType = #{memberType}
	    </if>
	    <if test="withdrawStatus != null and withdrawStatus != ''">
	      AND withdrawStatus = #{withdrawStatus}
	    </if>
	    <if test="dormantStatus != null and dormantStatus != ''">
	      AND dormantStatus = #{dormantStatus}
	    </if>
	    ORDER BY 
	    	memberRegDate
	    LIMIT #{rowPerPage} offset #{offset};
	</select>
	
	
	<select id="getEntMemberDetail" resultType="AdminMemberDetail">
		/* 입점업체 상세정보 조회 */
		SELECT
			entPosition,
			entEmpName,
			entEmpEmail,
			entEmpPhone,
			entBrno,
			entName,
			entCeoAddr,
			entCeoDaddr,
			entBank,
			entBankNum
		FROM
			ent_info_view
		WHERE
			memberId = #{memberId};
	</select>


	<select id="getManageMemberDetail" resultType="AdminMemberDetail">
		/* 입점업체 상세정보 조회 */
		SELECT
			managerName,
			managerPhone,
			managerBrdt,
			managerGender
		FROM
			manager_info_view
		WHERE
			memberId = #{memberId};
	</select>
	
	
	<select id="getCorpMemberDetail" resultType="AdminMemberDetail">
		/* 기업고객 상세정보 조회 */
		SELECT
			custName,
			custPhone,
			custBrdt,
			custAddr,
			custDaddr,
			custEmail,
			corpName,
			corpBrno
		FROM
			corp_customer_info_view
		WHERE
			memberId = #{memberId};
	</select>
	
	
	<select id="getCustomerMemberDetail" resultType="AdminMemberDetail">
		/* 개인고객 상세정보 조회 */
		SELECT
			custName,
			custPhone,
			custBrdt,
			custAddr,
			custDaddr,
			custEmail
		FROM
			customer_info_view
		WHERE
			memberId = #{memberId};
	</select>
	
	<select id="getMemberListCount" resultType="int">
		/* 회원 목록 총 row 갯수 조회 */
		SELECT
			COUNT(*)
		FROM
			members;
	</select>
	
	<select id="getMemberList" resultType="AdminMember">
		/* 회원 목록 조회 */
		SELECT
			memberId,
			memberPw,
			memberType,
			memberName,
			dormantStatus,
			withdrawStatus,
			memberRegDate,
			memberRevDate,
			stateTransitionDate
		FROM
			all_member_info_view
		ORDER BY
			memberRegDate
		LIMIT #{rowPerPage} offset #{offset};
	</select>
	
</mapper>
