<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks54team01.enterprise.management.mapper.EnterpriseManagementMapper">


	<select id="getEntContractInfo" parameterType="string">
		/* 플랫폼 계약정보 조회 */
		SELECT
			ect.ent_contract_no as entContractNo,  
			ect.ent_ceo_no as entCeoNo, 
			ect.ent_emp_id as entEmpId, 
			ect.fee_rate_sales as feeRateSales, 
			ect.fee_rate_rental as feeRateRental, 
			ect.fee_rate_penalty as feeRatePenalty, 
			ect.entry_fee as entryFee, 
			ect.contract_date as contractDate, 
			ect.contract_expiry_date as contractEndDate, 
			ect.ent_cal_date as entCalDate, 
			ect.contract_status as contractStatus,
			ec.ent_ceo_nm as entCeoName,
			ec.ent_brno as entBrno,
			ec.ent_nm as entName,
			ec.ent_ceo_addr as entCeoAddr,
			ec.ent_ceo_daddr as entCeoDaddr,
			ec.ent_ceo_email as entCeoEmail,
			ec.ent_bank as entCeoBank, 
			ec.ent_bank_num as entBankNum , 
			ec.ent_ceo_phone as entCeoPhone, 
			ec.register_date as entRegDate
		FROM
			ent_ceo ec right join ent_contract ect
			on ec.ent_ceo_no = ect.ent_ceo_no
		WHERE
			ect.ent_ceo_no = #{entCeoNo};
	</select>

	<update id="modifyEntCeo" parameterType="EntMember">
  		/* 입점업체대표정보 수정 */
		UPDATE ent_ceo
		<set>
			<if test="entEmpName != null and entEmpName != ''">
				ent_ceo_nm = #{entEmpName}, 			
			</if>
			<if test="entName != null and entName != ''">
				ent_nm = #{entName}, 			
			</if>
			<if test="entEmpEmail != null and entEmpEmail != ''">
				ent_ceo_email = #{entEmpEmail}, 			
			</if>
			<if test="entEmpPhone != null and entEmpPhone != ''">
				ent_ceo_phone = #{entEmpPhone}, 			
			</if>
			<if test="entCeoAddr != null and entCeoAddr != ''">
				ent_ceo_addr = #{entCeoAddr}, 			
			</if>
			<if test="entCeoDaddr != null and entCeoDaddr != ''">
				ent_ceo_daddr = #{entCeoDaddr}, 			
			</if>
			<if test="entBank != null and entBank != ''">
				ent_bank = #{entBank}, 
			</if>
			<if test="entBankNum != null and entBankNum != ''">
				ent_bank_num = #{entBankNum}, 
			</if>
				revision_date = CURDATE()	
		</set>		 
		WHERE 
			ent_ceo_id = #{memberId};
  	</update>
  	
	<update id="modifyEntEmp" parameterType="EntMember">
  		/* 입점업체직원정보 수정 */
		UPDATE ent_emp
		<set>
			<if test="entEmpName != null and entEmpName != ''">
				ent_emp_nm = #{entEmpName}, 			
			</if>
			<if test="entEmpEmail != null and entEmpEmail != ''">
				ent_emp_email = #{entEmpEmail}, 			
			</if>
			<if test="entEmpPhone != null and entEmpPhone != ''">
				ent_emp_phone = #{entEmpPhone}, 			
			</if>
				revision_date = CURDATE()	
		</set>		 
		WHERE 
			ent_emp_id = #{memberId};
  	</update>

	<insert id="addEntEmpMember" parameterType="EntMember">
		/* 입점업체직원정보 등록 */
		INSERT INTO ent_emp
		(ent_emp_id, ent_ceo_no, ent_brno, ent_nm, ent_position, ent_emp_nm, ent_emp_email, ent_emp_phone, register_date, revision_date)
		VALUES
		(#{memberId}, #{entCeoNo}, #{entBrno}, #{entName}, #{entPosition}, #{entEmpName}, #{entEmpEmail}, #{entEmpPhone}, CURDATE(), CURDATE());
	</insert>
	
	<insert id="addCommonMember" parameterType="CommonMember">
		/* 직원 공통정보 등록 */
		INSERT INTO members
		(members_id, members_pw, members_type, register_date, revision_date, state_transition_date)
		VALUES
		(#{memberId}, #{memberPw}, #{memberType}, CURDATE(), CURDATE(), #{memberStateTransitionDate});
	</insert>

	<select id="getEmployeeList" resultType="EntMember">
		/* 직원 목록 조회 */
		SELECT
			memberId,
			memberType,
			entEmpName,
			entEmpPhone,
			entPosition,
			entEmpEmail,
			memberRegDate
		FROM
			ent_info_view
		WHERE 
			memberType = '입점업체 직원' AND entCeoNo = #{entCeoNo}
		ORDER BY
			memberRegDate;
	</select>

</mapper>