<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{customer/layout/default}">

	<!-- head 삽입공간 -->
	<head>
	</head>
	
	<th:block layout:fragment="jsFile">
	
	</th:block>
	
	
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="customContents">
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1 mb-20">
                                            <h1 class="mb-5" th:text="${title}"></h1>                                         
                                        </div>
                                        <div th:if="${message}" class="alert alert-danger"><p th:text="${message}"></p></div>
                                        <div th:if="${error}" class="alert alert-danger"><p th:text="${error}"></p></div>
                                        <form id="forgotIdForm" th:action="@{/customer/member/forgotId}" method="post">
                                            <div class="form-group">
                                                <input type="text" id="memberName" name="memberName" placeholder="이름" value="김슬기" required />
                                            </div>
                                            <div class="form-group">
												<input type="hidden" id="memberPhone" name="memberPhone"/>
		                                            <div class="form-group d-flex">
													   	<input type="text" class="w-10 form-control fs-6" id="phoneFixed" name="phoneFixed" placeholder="010" value="010" readonly />
													    <input type="text" class="mr-10 ml-10" id="phone1" name="phone1" placeholder="1234" value="0007" required />
													    <input type="text" placeholder="5678" id="phone2" name="phone2" value="0007" required />
													</div>
											</div>
                                            <div class="form-group">
                                            	<input type="hidden" id="memberEmail" name="memberEmail"/>
	                                            	<div class="form-group d-flex">
		                                                <input type="text" class="w-60" id="emailFirst" name="emailFirst" placeholder="Email" required />
		                                                <select class="w-auto border-1 border-radius-10 ml-10" id="emailLast" name="emailLast">
		                                                    <option value="@naver.com">@naver.com</option>
		                                                    <option value="@daum.net">@daum.net</option>
		                                                    <option value="@google.com">@google.com</option>                                                    
		                                                </select> 
		                                                <button type="button" class="btn btn-heading btn-block p-10 ml-10" onclick="sendVerificationCode()">인증요청</button>                                               
		                                            </div>
													<div class="form-group" id="verify-section" style="display:none;">
														<div class="form-group d-flex">
														    <input type="text" id="verifyCode" name="verifyCode" placeholder="인증코드 입력">
														    <button type="button" class="btn btn-heading btn-block p-10 ml-10"  onclick="verifyCodeSubmit()">확인</button>
													    </div>
													</div>
											</div>   
											<!-- 회원 유형 선택 -->
                                            <div class="custome-radio type-radio d-flex justify-content-evenly mb-30">
                                                <div class="custome-radio">
												    <input class="form-check-input" type="radio" id="memberTypeCustomer" name="memberType" value="개인고객" required />
												    <label class="form-check-label" for="memberTypeCustomer">일반회원</label>
												</div>
                                                <div class="custome-radio">
												    <input class="form-check-input" type="radio" id="memberTypeCorp" name="memberType" value="기업고객" checked="checked" required />
												    <label class="form-check-label" for="memberTypeCorp">기업회원</label>
												</div>
												<div class="custome-radio">
												    <input class="form-check-input" type="radio" id="memberTypeEnt" name="memberType" value="입점업체" required />
												    <label class="form-check-label" for="memberTypeEnt">입점업체</label>
												</div>
                                            </div>
                                            <div class="login_footer form-group mb-50 d-flex jusfity-content-end">
                                                <a class="text-muted" th:href="@{/customer/member/forgotPw}">비밀번호 찾기</a>
                                            </div>
                                            <div class="form-group mb-30">
                                                <button type="submit" class="btn btn-heading btn-block hover-up" id="forgotIdBtn" name="forgotIdBtn">아이디찾기</button>
                                            </div>                                           
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</th:block>
	<th:block layout:fragment="jsScript">
		<script>
			/**
			 * 전화번호 조합
			 */
			function setPhoneValue() {
			    const phone = `${$('#phoneFixed').val()}-${$('#phone1').val()}-${$('#phone2').val()}`;
			    $('#memberPhone').val(phone);
			}
			
			/**
			 * email 조합
			 */
			function getFullEmail() {
				const emailFirst = $('#emailFirst').val().trim();
			    const emailLast = $('#emailLast').val().trim();
			    if (!emailFirst || !emailLast) return null;
			    return emailFirst + emailLast;
			}
		   
			/**
		     * email 유효성검증 및 인증코드 전송
		     */
		    function sendVerificationCode() {
		    	const memberEmail  = getFullEmail();

		        if (!memberEmail) {
		            alert("이메일을 정확히 입력해주세요.");
		            return;
		        }
		        
		        const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
		        
		        if (!regex.test(memberEmail)) {
		            alert("이메일 형식이 올바르지 않습니다.");
		            return;
		        }

		        $('#memberEmail').val(memberEmail);
		        
		        $.ajax({
		            url: '/customer/register/sendCode',
		            method: 'POST',
		            data:{
		                emailFirst: $('#emailFirst').val(),
		                emailLast: $('#emailLast').val()
		            },
		            dataType: 'JSON',
		            success: function(response) {
		                if (response.status === 'success') {
		                    alert(response.message);
		                    $('#verify-section').show();
		                } else {
		                    alert(response.message);
		                }
		            },
		            error: function() {
		                alert("서버와의 통신 오류입니다.");
		            }
		        });
		    }
	
		        
		   	/**
		   	 * email 인증코드 확인
		   	 */
		   	let isEmailVerified = false;
		   	
		   	function verifyCodeSubmit() {
		        const memberEmail = getFullEmail();		       
		        const code = $('#verifyCode').val();
		        
		        if (!code) {
		            alert("인증코드를 입력하세요.");
		            return;
		        }

		        $.ajax({
		            url: '/customer/register/verifyCode',
		            method: 'POST',
		            data: {
		                email: memberEmail,
		                code: code
		            },
		            success: function(response) {
		            	if (response.status === 'success') {
		            	    alert("이메일 인증에 성공했습니다.");
		            		isEmailVerified = true;
		            	    document.getElementById('verifyCode').disabled = true;
		            	} else {
		                    alert("인증코드가 일치하지 않습니다.");
		                }
		            },
		            error: function() {
		                alert("인증 확인 요청 중 오류가 발생했습니다.");
		            }
	       	 	});
	    	}
		    
		    /**
			 * email 인증여부 검증
			 */	
		    function validateEmailVerification() {
		    	 if (!isEmailVerified) {
				        if(!isEmailVerified) {
				            alert("이메일 인증을 완료해주세요.");
				            return false;
				        }
		        }
		        return true;
		    }
		    
		    
		    /**
			* input 유효성검증
			*/
			function validateRequiredFields() {
			    const requiredFields = ['memberName','phone1', 'phone2', 'emailFirst', 'emailLast'];
			    for (let field of requiredFields) {
			        const input = document.getElementById(field);
			        if (!input.value.trim()) {
			            alert(`${input.placeholder} 필수 입력항목입니다.`);
			            input.focus();
			            return false;
			        }
			    }
			    return true;
			}
		    
		    /**
		     *  검증유형별 함수 실행
		     */
		    function validateForm() {
		    	if (!validateRequiredFields()) return false;
		        if (!validateEmailVerification()) return false;
		        
		        setPhoneValue();
		        
		        return true;
		    }
		        
		    /**
		     * 폼 제출 및 추가 데이터 조합
		     */
		    $('#forgotIdBtn').click(function(e) {
		        e.preventDefault();
		        
		        if (validateForm()) {
		            $('#forgotIdForm').submit();
		        }
		    });
		    

			/**
		 	 * 아이디찾기 이메일발송 실패
		 	 */	
		 	const params = new URLSearchParams(window.location.search);
		 	
		 	if (params.get('error') === 'true') {
			 	  alert('일치하는 아이디가 없습니다. 아이디를 다시한번 확인 해 주세요.');
			 	}
		 	

		 	
		</script>
	</th:block>
	
</html>