<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{enterprise/layout/default}">
	<!-- head 삽입공간 -->
	<head>
	</head>
	
	<th:block layout:fragment="jsFile">
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	</th:block>
	
	<th:block layout:fragment="jsScript">
		<script th:inline="javascript">
			const rowPerPage = /*[[${rowPerPage}]]*/'';
			if(rowPerPage) {
				$('.page-link').each((idx, item)=>{
					let href = $(item).attr('href');
					let separator = '?';
					if(href.includes('?')) separator = '&';
					href += `${separator}rowPerPage=${rowPerPage}`;
					$(item).attr('href', href);
				});
			}
			$('#rowPerPage').change(function(){
				const href = location.href;
				const url = new URL(href);
				const urlParams = url.searchParams;
				const currentPage = urlParams.get('currentPage');
				if(currentPage) urlParams.set('currentPage', currentPage);
				urlParams.set('rowPerPage', $(this).val());
				location.href = `${url.pathname}?${urlParams.toString()}`;
			});
		</script>
	</th:block>
	
	<th:block layout:fragment="content">
		<div class="content-header">
            <div>
                <h2 class="content-title card-title" th:text="${title}"></h2>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row">
		            <div class="col text-end">
		                <a th:href="@{/enterprise/management/addEmployee}" class="btn btn-primary p-15"><i class="material-icons md-plus"></i>직원 등록</a>
		            </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class=text-center>
                                <th>직원아이디</th>
                                <th>직원직책</th>
                                <th>직원이름</th>
                                <th>직원이메일</th>
                                <th>직원연락처</th>
                                <th>재직상태</th>
                                <th>등록일시</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr th:if="${!#lists.isEmpty(employeeList)}"
                            	th:each="l : ${employeeList}">
                                <td th:text="${l.memberId}">entempid1</td>
                                <td th:text="${l.entPosition}">부장</td>
                                <td th:text="${l.entEmpName}">곽철용</td> 
                                <td th:text="${l.entEmpEmail}">emp1@naver.com</td>
                                <td th:text="${l.entEmpPhone}">010-0013-0013</td>
                                <td class="col-lg-2 col-sm-2 col-4 col-status" >
                                    <span class="badge rounded-pill alert-success" 
                                    	  th:classappend="${l.entPosition} == '퇴사' ? 'alert-danger' : 'alert-success'"
          								  th:text="${l.entPosition} == '퇴사' ? '퇴직자' : '재직자'">재직상태</span>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">재직자</a>
                                            <a class="dropdown-item text-danger" th:if="${l.entPosition} == '퇴사'" href="#">퇴직자</a>
                                        </div>
                                    </div>
                                </td>
                                <td th:text="${l.memberRegDate}">2023-03-01 16:00:00</td>
                            </tr>
                            <tr th:unless="${!#lists.isEmpty(employeeList)}">
	                                	<td colspan="7">목록없음</td>
	                            </tr>
                        </tbody>
                    </table>
                    <!-- table-responsive.// -->
                </div>
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
	</th:block>
</html>